Django==2.1.7
django-extensions==2.1.4
djangorestframework==3.9.1
django-environ==0.4.5
django-extensions==2.1.4
django-json-response==1.1.5
django-oauth-toolkit==1.2.0
requests==2.21.0
python-dateutil==2.7.5
sendgrid-django==4.2.0
sqreen==1.14.0
djangorestframework==3.9.1

dj-database-url
dj-static
gunicorn
psycopg2
django-toolbelt
static3
wheel
